<ng-container *ngIf="movie; else loading">
    <mat-card>
      <div class="close-action">
        <button mat-icon-button (click)="onBack()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="movie-details">
        <div class="movie-image">
          <div class="image-container">
            <img [src]="movie.poster_path" [alt]="movie.title">
            <div class="overlay">
              <button mat-fab color="warn" *ngIf="authenticated && !isFavourite" (click)="onAddFavourite(movie)">
                <mat-icon>favorite_outline</mat-icon>
              </button>
              <button mat-fab color="warn" *ngIf="authenticated && isFavourite" (click)="onRemoveFavourite(movie)">
                <mat-icon>favorite</mat-icon>
              </button>
              <h1>{{ movie.title }}</h1>
              <mat-chip-listbox>
                <mat-chip *ngFor="let genre of movie.genres" color="primary" highlighted>
                  {{ genre.name }}
                </mat-chip>
                <mat-chip color="accent" highlighted>
                  {{ movie.release_date | date:'yyyy' }}
                </mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
        <div class="movie-overview">
          <h2>Overview</h2>
          <p>{{ movie.overview }}</p>
        </div>
      </div>
    </mat-card>
  </ng-container>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  